/* Nanum Brush Script */
@font-face {
    font-family: "NanumBrush";
    src: url(./fonts/Nanum_Brush_Script/NanumBrushScript-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Nunito Sans Italic */
@font-face {
    font-family: "NunitoSans";
    src: url(./fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Nunito Sans Regular */
@font-face {
    font-family: "NunitoSans";
    src: url(./fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --mint-green: #D6FFF6;
    --turquoise: #4DCCBD;
    --ucla-blue: #2374AB;
    --thistle: #BFB1C1;
    --night: #071108;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: "NunitoSans";
}

body {
    background-color: var(--ucla-blue);
    color: var(--night);
}

#content {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "sidebar content void"
    ;
}

#sortSection {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border-right: 2px solid var(--night);
    background-color: var(--mint-green);
}

button {
    background-color: var(--thistle);
    border: 2px solid var(--night);
}

.by-date, .by-completion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6vh;
}

.sidebar-text {
    font-size: clamp(22px, 2vw, 32px);
    text-align: center;
}

.sidebar-button {
    height: 5vh;
    width: 12vw;
    border-radius: 30px;
    font-size: clamp(12px, 16px, 18px);
}

#addButton {
    height: 5vh;
    width: 5vh;
    border-radius: 5vh;
}

.todoSection {
    grid-area: content;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr;
    margin: 14vh 7vw;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.event-Div {
    background-color: var(--mint-green);
    height: clamp(150px, 20vh, 280px);
    width: 42vw;
    overflow: auto;
    border: 2px solid var(--night);
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: 14px;
}

.event-Div p {
    font-family: "NanumBrush";
    font-size: 36px;
}

.event-Div button {
    padding: 8px 14px;
    border-radius: 16px;
}

.complete-button {
    justify-self: start;
    margin-left: 20px;
}

.delete-button {
    justify-self: end;
    margin-right: 20px;
}

#dialogContainer {
    position: fixed;       /* Fixed position */
    top: 50%;              /* Center vertically */
    left: 50%;             /* Center horizontally */
    transform: translate(-50%, -50%); /* Shift the modal to be centered */
    border: 1px solid black;
    width: 50%;
    max-width: 600px;
    background-color: var(--mint-green);
    padding: 10px;
    border-radius: 15px;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
}

#addEventDialog {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.eventP {
    text-align: center;
}

#confirm {
    padding: 5px;
    border-radius: 16px;
}

.input {
    border: 1px solid var(--night);
    padding: 2px;
}

.underline {
    text-decoration: underline var(--night) 2px;
}